html {
    background: linear-gradient(black, rgb(225, 0, 255));
    margin: 0;
    height: 100dvh;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    height: 100%;
}

button {
    border-radius: 20px;
    width: 30%;
    background: content-box;
    margin: 0% 36%;
    color: #ff00f2;
}

.container_1 {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.logo_cont {
    height: 70%;
}

.logo {
    height: 100%;
    width: auto;
}

.form {
    margin-bottom: 4%;
    background-color: rgba(10, 0, 13, 0.67);
    border-radius: 100px;
    padding: 14px 5px;
    width: 29%;
    height: 26%;
    box-shadow: 10px 10px 10px black;
}

input {
    width: 57%;
    margin: 5% 21%;
    background-color: rgba(212, 44, 255, 0.2);
    border: none;
    border-radius: 20px;
    padding: 10px;
}

@media only screen and (max-width: 1056px) {
    /* medium devices (landscape phones, less than*/
    .logo_cont {
        height: 50%;
    }
    .logo {
        display: flex;
        justify-content: center;
        height: 100%;
        width: auto;
    }
    .form {
        border-radius: 30px;
        padding: 4px 5px;
        box-shadow: 10px 10px 10px black;
        margin-bottom: 0%;
        background-color: rgba(10, 0, 13, 0.67);
        border-radius: 100px;
        padding: 14px 5px;
        width: 59%;
        height: auto;
    }
    input {
        width: 64%;
        margin: 5% 16%;
        background-color: rgba(212, 44, 255, 0.2);
        border: none;
        border-radius: 20px;
        padding: 22px;
    }
}

@media only screen and (max-width: 768px) {
    /* Mobile  */
    .logo_cont {
        height: 50%;
    }
    .logo {
        display: flex;
        justify-content: center;
        height: 100%;
        width: auto;
    }
    .form {
        height: auto;
        width: 82%;
        box-shadow: 10px 10px 10px black;
    }
}

input {
    width: 57%;
    margin: 5% 21%;
    background-color: rgba(212, 44, 255, 0.2);
    border: none;
    border-radius: 20px;
    padding: 10px;
}